@font-face { font-family: 'istok_webbold'; src: url("../fonts/istokweb-bold-webfont.eot"); src: url("../fonts/istokweb-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-bold-webfont.woff") format("woff"), url("../fonts/istokweb-bold-webfont.ttf") format("truetype"), url("../fonts/istokweb-bold-webfont.svg#istok_webbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'istok_webitalic'; src: url("../fonts/istokweb-italic-webfont.eot"); src: url("../fonts/istokweb-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-italic-webfont.woff") format("woff"), url("../fonts/istokweb-italic-webfont.ttf") format("truetype"), url("../fonts/istokweb-italic-webfont.svg#istok_webitalic") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'istok_webregular'; src: url("../fonts/istokweb-regular-webfont.eot"); src: url("../fonts/istokweb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-regular-webfont.woff") format("woff"), url("../fonts/istokweb-regular-webfont.ttf") format("truetype"), url("../fonts/istokweb-regular-webfont.svg#istok_webregular") format("svg"); font-weight: normal; font-style: normal; }

.header__logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.wrap:after, .footer__nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }

input[type='submit']::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

table { border-spacing: 0; border-collapse: collapse; }

* { -webkit-text-size-adjust: none; }

/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body { min-width: 1000px; padding: 0 5px; color: #474747; font-weight: normal; font-style: normal; font-family: 'istok_webregular',Arial,sans-serif; font-size: 14px; line-height: 1.15; }

a { color: #0a90ce; }
a:hover { text-decoration: none; }

.l-layout { margin: 0 auto -89px; position: relative; min-height: 100%; height: auto !important; height: 100%; width: 1000px; }

.push { clear: both; height: 89px; }

.wrapper { overflow: hidden; }

.clr { clear: both; }

.title-l-2 { margin: 10px 0 9px; font-weight: normal; font-style: normal; font-family: 'istok_webbold',Arial,sans-serif; font-size: 20px; color: #727c86; text-transform: uppercase; }

.title-l-3 { font-weight: normal; font-style: normal; font-family: 'istok_webbold',Arial,sans-serif; font-size: 18px; color: #4c5257; }

/* ------------------------------------ //END Main styles --------------------------------------- */
/* ----------------------------------------- Header --------------------------------------------- */
.header { position: relative; z-index: 2; padding-top: 28px; }

.header__logo { float: left; margin-right: 67px; }
.header__logo a { display: block; background: url('../img/icons-s65eed6dcfa.png') 0 0 no-repeat; width: 314px; height: 46px; }

.header__slogan { float: left; margin-top: 13px; color: #848fa9; font: bold 16px Tahoma, sans-serif; text-transform: uppercase; }

.header__cont { float: right; margin: -7px 0 36px; }
.header__cont strong { display: block; margin-bottom: 7px; color: #848fa9; font: bold 20px Tahoma, sans-serif; }
.header__cont a { display: inline-block; padding: 6px 22px; color: #fff; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; background: #f1a00c; text-decoration: none; -webkit-box-shadow: 0 2px 5px rgba(74, 42, 16, 0.3); -moz-box-shadow: 0 2px 5px rgba(74, 42, 16, 0.3); box-shadow: 0 2px 5px rgba(74, 42, 16, 0.3); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxYTAwYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NmMjMwMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1a00c), color-stop(100%, #cf2303)); background-image: -webkit-linear-gradient(#f1a00c, #cf2303); background-image: -moz-linear-gradient(#f1a00c, #cf2303); background-image: -o-linear-gradient(#f1a00c, #cf2303); background-image: linear-gradient(#f1a00c, #cf2303); }
.header__cont span { display: inline-block; line-height: 1; border-bottom: 1px dotted; }

.header__nav-wrap { background: url(../img/enter.png) -54px 0 repeat; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -webkit-box-shadow: 0 1px 2px rgba(0, 68, 93, 0.75); -moz-box-shadow: 0 1px 2px rgba(0, 68, 93, 0.75); box-shadow: 0 1px 2px rgba(0, 68, 93, 0.75); overflow: hidden; clear: both; }
.header__nav-wrap li { float: left; }
.header__nav-wrap span { display: inline-block; text-decoration: underline; }
.header__nav-wrap i { display: inline-block; vertical-align: top; margin: 10px 7px 0 0; }
.header__nav-wrap a { display: block; padding: 0 36px 0 33px; height: 37px; line-height: 37px; font-weight: normal; font-style: normal; font-family: 'istok_webbold',Arial,sans-serif; font-size: 13px; color: #fff; text-decoration: none; text-transform: uppercase; }
.header__nav-wrap a:hover span { text-decoration: none; }

.header__nav { float: left; width: 807px; background: url(../img/nav.png) -3px 0 repeat; }
.header__nav .is-active a { background: url(../img/nav-h.png) 0 0 repeat; }
.header__nav .icon-home { background: url('../img/icons-s65eed6dcfa.png') 0 -695px no-repeat; width: 16px; height: 15px; }
.header__nav .icon-cube { background: url('../img/icons-s65eed6dcfa.png') 0 -643px no-repeat; width: 16px; height: 15px; }
.header__nav .icon-case { background: url('../img/icons-s65eed6dcfa.png') 0 -668px no-repeat; width: 16px; height: 17px; }
.header__nav .icon-phone { background: url('../img/icons-s65eed6dcfa.png') 0 -617px no-repeat; width: 15px; height: 16px; }

.header__enter { overflow: hidden; }
.header__enter li { float: left; }
.header__enter li:first-child a { padding: 0 0 0 6px; }
.header__enter li:first-child span { border-left: 0; }
.header__enter a { padding: 0 10px 0 0; text-transform: capitalize; }
.header__enter span { border-left: 1px solid; line-height: 1; padding: 8px 10px 8px 8px; }
.header__enter .icon-door { margin: 8px 3px 0 0; background: url('../img/icons-s65eed6dcfa.png') 0 -720px no-repeat; width: 21px; height: 23px; }

/* -------------------------------------- //END Header ------------------------------------------ */
/* ------------------------------------- Independent blocks -------------------------------------- */
.slider { position: relative; margin-bottom: 37px; }

.slider_inner { margin-bottom: 22px; }

.slider__wrap { position: relative; height: 281px; }

.slider__item { position: absolute; height: 281px; overflow: hidden; text-decoration: none; }
.slider__item img { display: block; }

.slider__text { position: absolute; top: 20px; left: 54px; color: #fff; font-size: 22px; font-weight: normal; font-style: normal; font-family: 'istok_webbold',Arial,sans-serif; }
.slider__text span { display: block; padding: 0px 17px 5px 10px; background: #000; background: rgba(0, 0, 0, 0.73); }
.slider__text span:first-child { display: inline-block; padding: 3px 17px 0px 10px; }
.slider__text strong { font-weight: normal; font-size: 26px; color: #f0b62c; }

.slider__nav { position: absolute; top: 0; z-index: 100; width: 32px; height: 281px; line-height: 297px; text-align: center; background: #000; background: rgba(0, 0, 0, 0.57); -webkit-transition: background 500ms linear; -moz-transition: background 500ms linear; -o-transition: background 500ms linear; transition: background 500ms linear; }
.slider__nav:hover { background: #000; }
.slider__nav i { display: inline-block; }

.slider__nav-left { left: 0; }
.slider__nav-left i { background: url('../img/icons-s65eed6dcfa.png') 0 -394px no-repeat; width: 12px; height: 41px; }

.slider__nav-right { right: 0; }
.slider__nav-right i { background: url('../img/icons-s65eed6dcfa.png') 0 -445px no-repeat; width: 12px; height: 41px; }

.slider__pagin { position: absolute; bottom: 7px; left: 0; right: 0; z-index: 100; text-align: center; }
.slider__pagin span { display: inline-block; margin-left: 10px; width: 10px; height: 10px; background: #dcdcdf; cursor: pointer; }
.slider__pagin span:first-child { margin-left: 0; }
.slider__pagin .is-active { background: #ddc424; }

/* ---------------------------------- //END Independent blocks ----------------------------------- */
/* ----------------------------------------- Footer ---------------------------------------------- */
.footer { position: relative; margin: 0 auto; padding: 13px 100px 0; height: 76px; width: 1000px; overflow: hidden; background: #eff0ec url(../img/footer-bg.png) 100% 0 no-repeat; }

.footer__copy { float: left; padding-top: 5px; }

.footer__nav { float: left; margin-left: 17px; padding-top: 7px; }
.footer__nav li { float: left; margin-left: 50px; }
.footer__nav a { color: #3c3838; font-size: 13px; }

.footer__soc { float: right; }

/* -------------------------------------- //END Footer ------------------------------------------- */
@font-face { font-family: 'istok_webbold'; src: url("../fonts/istokweb-bold-webfont.eot"); src: url("../fonts/istokweb-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-bold-webfont.woff") format("woff"), url("../fonts/istokweb-bold-webfont.ttf") format("truetype"), url("../fonts/istokweb-bold-webfont.svg#istok_webbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'istok_webitalic'; src: url("../fonts/istokweb-italic-webfont.eot"); src: url("../fonts/istokweb-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-italic-webfont.woff") format("woff"), url("../fonts/istokweb-italic-webfont.ttf") format("truetype"), url("../fonts/istokweb-italic-webfont.svg#istok_webitalic") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'istok_webregular'; src: url("../fonts/istokweb-regular-webfont.eot"); src: url("../fonts/istokweb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-regular-webfont.woff") format("woff"), url("../fonts/istokweb-regular-webfont.ttf") format("truetype"), url("../fonts/istokweb-regular-webfont.svg#istok_webregular") format("svg"); font-weight: normal; font-style: normal; }

.header__logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.wrap:after, .footer__nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.propose { position: relative; overflow: hidden; margin-bottom: 59px; padding-bottom: 10px; }
.propose:after { content: ""; position: absolute; bottom: 10px; left: 0; width: 100%; height: 10px; -webkit-box-shadow: 0 0 6px 6px #9baebe; -moz-box-shadow: 0 0 6px 6px #9baebe; box-shadow: 0 0 6px 6px #9baebe; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.propose .wrapper { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.propose .title-l-3 { position: relative; margin-bottom: 17px; }
.propose .title-l-3 i { position: absolute; left: -35px; top: -7px; }

.icon-1 { background: url('../img/icons-s65eed6dcfa.png') 0 -496px no-repeat; width: 34px; height: 33px; }

.icon-2 { background: url('../img/icons-s65eed6dcfa.png') 0 -226px no-repeat; width: 34px; height: 33px; }

.icon-3 { background: url('../img/icons-s65eed6dcfa.png') 0 -99px no-repeat; width: 34px; height: 33px; }

.icon-4 { background: url('../img/icons-s65eed6dcfa.png') 0 -539px no-repeat; width: 34px; height: 33px; }

.icon-5 { background: url('../img/icons-s65eed6dcfa.png') 0 -269px no-repeat; width: 34px; height: 33px; }

.icon-6 { background: url('../img/icons-s65eed6dcfa.png') 0 -56px no-repeat; width: 34px; height: 33px; }

.propose__wrap { position: relative; z-index: 2; margin-right: -145px; padding: 29px 0 0 65px; background-color: #ffaa06; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDUwOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOWQwNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd509), color-stop(100%, #ff9d05)); background-image: -webkit-linear-gradient(#ffd509, #ff9d05); background-image: -moz-linear-gradient(#ffd509, #ff9d05); background-image: -o-linear-gradient(#ffd509, #ff9d05); background-image: linear-gradient(#ffd509, #ff9d05); }

.propose__col { display: inline-block; vertical-align: top; margin: 0 88px 29px 0; width: 260px; }
.propose__col:nth-child(2) .title-l-3, .propose__col:nth-child(3) .title-l-3 { margin-bottom: 36px; }
.propose__col a { color: #000; }
.propose__col li { margin-bottom: 5px; }

.best-sellers { margin-bottom: 28px; padding-bottom: 31px; border-top: 3px solid #96a5b2; border-bottom: 3px solid #96a5b2; }
.best-sellers .title-l-2 { position: relative; top: -31px; display: inline-block; margin-bottom: 20px; padding-right: 13px; background: #fff; }
.best-sellers .title-l-2 i { display: inline-block; vertical-align: middle; margin-right: 5px; background: url('../img/icons-s65eed6dcfa.png') 0 -352px no-repeat; width: 27px; height: 32px; }

.scroll { position: relative; }
.scroll button { position: absolute; top: 62px; }
.scroll .is-disabled { display: none; }

.scroll__wrap { position: relative; overflow: hidden; margin: 0 auto; height: 240px; width: 942px; }

.scroll__items { position: absolute; top: 0; width: 2000em; }

.scroll__slide { float: left; padding: 0 10px; width: 215px; height: 237px; text-align: center; border-right: 1px dotted #4c5257; }
.scroll__slide div { height: 187px; line-height: 187px; }
.scroll__slide img { vertical-align: middle; }

.scroll__prev { left: 0; background: url('../img/icons-s65eed6dcfa.png') 0 -184px no-repeat; width: 22px; height: 32px; }

.scroll__next { right: 0; background: url('../img/icons-s65eed6dcfa.png') 0 -142px no-repeat; width: 22px; height: 32px; }

.wrapper_index { margin-bottom: 58px; }

.about { float: left; padding-left: 33px; width: 585px; bottom: 58px; }
.about .title-l-2 { position: relative; }
.about .title-l-2 i { position: absolute; left: -33px; top: -7px; background: url('../img/icons-s65eed6dcfa.png') 0 -582px no-repeat; width: 25px; height: 25px; }

.article-list { float: right; width: 300px; }
.article-list .title-l-2 { position: relative; margin-bottom: 12px; }
.article-list .title-l-2 i { position: absolute; left: -33px; top: -7px; background: url('../img/icons-s65eed6dcfa.png') 0 -312px no-repeat; width: 28px; height: 30px; }
.article-list ul { margin-bottom: 7px; border-bottom: 1px solid #a3a3a3; }
.article-list ul span { display: block; margin-bottom: 3px; font-size: 12px; color: #727c86; }
.article-list ul i { display: inline-block; margin-right: 5px; background: url('../img/icons-s65eed6dcfa.png') 0 -753px no-repeat; width: 9px; height: 9px; }
.article-list ul a { color: #0a90ce; }
.article-list li { margin-bottom: 19px; }

.link-all { color: #525961; }
.link-all i { display: inline-block; margin-right: 5px; background: url('../img/icons-s65eed6dcfa.png') 0 -772px no-repeat; width: 4px; height: 7px; }

@font-face { font-family: 'istok_webbold'; src: url("../fonts/istokweb-bold-webfont.eot"); src: url("../fonts/istokweb-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-bold-webfont.woff") format("woff"), url("../fonts/istokweb-bold-webfont.ttf") format("truetype"), url("../fonts/istokweb-bold-webfont.svg#istok_webbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'istok_webitalic'; src: url("../fonts/istokweb-italic-webfont.eot"); src: url("../fonts/istokweb-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-italic-webfont.woff") format("woff"), url("../fonts/istokweb-italic-webfont.ttf") format("truetype"), url("../fonts/istokweb-italic-webfont.svg#istok_webitalic") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'istok_webregular'; src: url("../fonts/istokweb-regular-webfont.eot"); src: url("../fonts/istokweb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-regular-webfont.woff") format("woff"), url("../fonts/istokweb-regular-webfont.ttf") format("truetype"), url("../fonts/istokweb-regular-webfont.svg#istok_webregular") format("svg"); font-weight: normal; font-style: normal; }

.header__logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.wrap:after, .footer__nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.l-cols { overflow: hidden; margin: 34px 0 30px; }

.sidebar { float: left; width: 323px; margin-right: 23px; }
.sidebar .title-l-2 { margin-bottom: 19px; border-bottom: 3px solid #96a5b2; }

.sidebar__nav li { margin-bottom: 11px; }
.sidebar__nav a { color: #4c5257; }
.sidebar__nav i { display: inline-block; margin-right: 7px; vertical-align: middle; }

.main-col { overflow: hidden; padding: 11px 0 0 22px; border-left: 1px solid #96a5b2; }

.info-message { position: relative; margin-bottom: 34px; font-size: 16px; color: #fff; }
.info-message:after { content: ""; position: absolute; bottom: 0; left: 35px; right: 35px; -webkit-box-shadow: 0 0 25px 10px #93abc1; -moz-box-shadow: 0 0 25px 10px #93abc1; box-shadow: 0 0 25px 10px #93abc1; }
.info-message div { position: relative; z-index: 2; padding: 13px 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3OTYwOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RlNzIwNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e79609), color-stop(100%, #de7207)); background: -webkit-linear-gradient(#e79609, #de7207); background: -moz-linear-gradient(#e79609, #de7207); background: -o-linear-gradient(#e79609, #de7207); background: linear-gradient(#e79609, #de7207); }

.catalog { margin: 0 -5px 30px 0; padding-top: 27px; border-top: 3px solid #96a5b2; }
.catalog:first-child { border-top: 0; padding-top: 0; }
.catalog ul { overflow: hidden; }
.catalog ul li { float: left; padding: 0 10px; width: 190px; min-height: 236px; text-align: center; border-left: 1px dotted #4c5257; }
.catalog ul li:first-child { border-left: 0; }

.catalog__title { margin-bottom: 18px; font-weight: normal; font-style: normal; font-family: 'istok_webbold',Arial,sans-serif; font-size: 18px; color: #4c5257; text-transform: uppercase; }

.catalog__img { display: block; height: 187px; line-height: 187px; overflow: hidden; }
.catalog__img img { vertical-align: middle; }

@font-face { font-family: 'istok_webbold'; src: url("../fonts/istokweb-bold-webfont.eot"); src: url("../fonts/istokweb-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-bold-webfont.woff") format("woff"), url("../fonts/istokweb-bold-webfont.ttf") format("truetype"), url("../fonts/istokweb-bold-webfont.svg#istok_webbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'istok_webitalic'; src: url("../fonts/istokweb-italic-webfont.eot"); src: url("../fonts/istokweb-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-italic-webfont.woff") format("woff"), url("../fonts/istokweb-italic-webfont.ttf") format("truetype"), url("../fonts/istokweb-italic-webfont.svg#istok_webitalic") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'istok_webregular'; src: url("../fonts/istokweb-regular-webfont.eot"); src: url("../fonts/istokweb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-regular-webfont.woff") format("woff"), url("../fonts/istokweb-regular-webfont.ttf") format("truetype"), url("../fonts/istokweb-regular-webfont.svg#istok_webregular") format("svg"); font-weight: normal; font-style: normal; }

.header__logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.wrap:after, .footer__nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.lteie8 .info-message div { background: #e79609 !important; }

* + html .header__cont a, * + html .header__cont span, * + html .header__nav i, * + html .header__nav span, * + html .slider__text span:first-child, * + html .slider__nav i, * + html .propose__col, * + html .best-sellers .title-l-2 { display: inline; }
* + html .header { position: static; }
* + html .header__nav-wrap span { cursor: pointer; }
* + html .header__enter span { line-height: 37px; padding: 0 10px 0 8px; }
