@import "base";
// ie6-8
.lteie8 {
	.info-message {
		div {
			background: #e79609 !important;
		}
	}
}
// ie7

*+ html {
	.header__cont a,
	.header__cont span,
	.header__nav i,
	.header__nav span,
	.slider__text span:first-child,
	.slider__nav i,
	.propose__col,
	.best-sellers .title-l-2, {
		display: inline;
	}
	.header {
		position: static;
	}
	.header__nav-wrap {
		span {
			cursor: pointer;
		}
	}
	.header__enter {
		span {
			line-height: 37px;
			padding: 0 10px 0 8px;
		}
	}
}

// ie6
* html {

}